.title {
    font-size: 40px;
    box-sizing: border-box;
    width: 50%;
    display: relative;
    float:left;
    justify-content: left;
    margin-bottom: 2em;
    color: #A25E12;
    display: flex;
    align-self: center;
    padding-left: 10px;
  }